<!--
=========================================================
* Material Kit 2 - v3.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="th" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    สินค้าของเรา
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/material-kit.css?v=3.0.4" rel="stylesheet" />
  
  <% if(isLogin){ %>
    <%- include('./bar/bar_profile', {user:user}); -%>
  <% }else{ %>
    <%- include('./bar/bar_login'); -%>
  <% } %>
</head>

<body class="presentation-page bg-gray-200">
  <header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('/image/web/bg12.jpg')">
      <span class="mask bg-gradient-primary opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">สินค้าของเรา</h1>
            <p class="lead text-white mt-3">มีให้เลือกซื้อได้หลากหลายเนื้อหา<br />สามารถซื้อได้เลย</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <section class="my-5 py-5">
      <% booktype.forEach((type)=>{ %>
        <div class="container mt-sm-5 mt-3">
          <div class="row">
            <div class="col-lg-3">
              <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                <h3><%= type.name%></h3>
              </div>
            </div>
              <div class="col-lg-9">
                
                <div class="row">
                  <% type.book.forEach((book)=>{ %>
                  <div class="col-md-4 mt-md-0">
                    <a href="/product/<%= book.id %>">
                      <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                        <img class="w-100 my-auto" style="object-fit:cover; width: 100px; height: 150px; border: solid 1px white;" src="/image/book/<%= book.image_url%>" onerror="if (this.src != '/image/error.png') this.src = '/image/error.png';" alt="hero">
                      </div>
                      <div class="mt-2 ms-2">
                        <h6 class="mb-0"><%= book.name%></h6>
                      </div>
                    </a>
                  </div>
                  <% }) %> 
                </div>  
              </div>
          </div>
        </div>
      <% }) %>
    </section>
  </div>    
  <footer class="footer pt-5 mt-5">
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              All rights reserved. Copyright © <script>
                document.write(new Date().getFullYear())
              </script> Material Kit by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
  <script src="/js/plugins/countup.min.js"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
  <script src="/js/plugins/rellax.min.js"></script>
  <!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
  <script src="/js/plugins/tilt.min.js"></script>
  <!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
  <script src="/js/plugins/choices.min.js"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
  <script src="/js/plugins/parallax.min.js"></script>
  <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="/js/material-kit.min.js?v=3.0.4" type="text/javascript"></script>

</html>